<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Account">


	<insert id="insert"
		parameterType="hxy.inspec.customer.po.Account" useGeneratedKeys="true">
		insert
		into account
		(userId,operate,value,surplus,time,type,file,fileUuid,adminId,notes,status)
		values
		(#{userId},#{operate},#{value},#{surplus},#{time},#{type},#{file},#{fileUuid},#{adminId},#{notes},#{status})
	</insert>



	<select id="selectAll"
		resultType="hxy.inspec.customer.po.Account">
		select * from account
	</select>
	<select id="findOrdersByUserId" parameterType="String"
		resultType="hxy.inspec.customer.po.Account">
		SELECT * FROM account WHERE userId=#{userId}
	</select>




	<select id="findAllByTelAndStatus" parameterType="String"
		resultType="hxy.inspec.customer.po.Account">
		SELECT * FROM account WHERE userTel=#{userTel} and
		status=#{status}
	</select>
	
	<select id="findOrdersByTelAndStatus" parameterType="String"
		resultType="hxy.inspec.customer.po.Account">
		SELECT * FROM account WHERE userTel=#{userTel} and
		status=#{status}
	</select>
	
	<sql id="Base_Column_List">
		excedate, goods, factoryname, reportfile, reportfileuuid
	</sql>
	<!-- 根据分页数据start 和size查询数据 -->
	<select id="findByPage" parameterType="Map" resultType="hxy.inspec.customer.po.Account">
		select * from account WHERE userTel=#{userTel} and status=#{status}
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
	<select id="findUserByOrdersId" parameterType="String"
		resultType="hxy.inspec.customer.po.Account">
		SELECT * FROM orders WHERE ordesrid=#{ordesrid}
	</select>
	<select id="findOrdersById" parameterType="String"
		resultType="hxy.inspec.customer.po.Account">
		SELECT * FROM orders WHERE orderid=#{orderid}
	</select>
	<delete id="delete"
		parameterType="hxy.inspec.customer.po.Account">
		delete from orders where
		userTel=#{userTel}
	</delete>
	<update id="update"
		parameterType="hxy.inspec.customer.po.Account">
		update orders set
		cusname=#{cusname},cususerid=#{cususerid},ttkdpasswd1=#{ttkdpasswd1},ttkdpasswd=#{ttkdpasswd},passwd=#{passwd},date=#{date},address=#{address}
		where userTel=#{userTel}
	</update>
	<update id="updateStatus"
		parameterType="hxy.inspec.customer.po.Account">
		update orders set status=#{status} where
		orderid=#{orderid}
	</update>

</mapper>
